# fly.toml app configuration file generated for expendios-recetas on 2024-08-07T19:11:27-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "monday-clone-mvp"
primary_region = "dfw"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = "data"
  destination = "/data"

# Descargar BD
# flyctl sftp get /app/data/app.db --app monday-clone-mvp
